<%= form_for(client) do |f|%>
  <p class='title'> Status </p>
  <%= client_status(client) %>

  <div id='refused-state-combo' class='<%= client.refused? ? 'active' : '' %>'>
    <p class='title'> Recusado </p>
    <%= client_status_refused(client) %>
  </div>
<% end -%>