<%= simple_form_for :sac_entry, url: sacs_path(@client), :html => {:class => 'form-horizontal' } do |form| %>
  <section class='form-painel sac'>
    <div class="column-left">
      <%= form.input :status, :collection => SacStatus.to_a.sort %>
      <%= form.input :call_back, required: false, label: 'Data de retorno', input_html: { class: 'mootools', name: 'fake_call_back_at', autocomplete: 'off' } %>
      <%= form.input :call_back_at, as: :hidden %>
      <%= form.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
    </div>

    <div class="column-right">
      <%= form.input :description, as: :text, label: 'Descrição', input_html: {rows: 10, cols: 60} %>
    </div>
  </section>

  <section class='form-submit sac'>
    <%= form.button :submit, "Salvar", class: 'button large' %>
  </section>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Data de Atend.</th>
      <th>Data de Retorno</th>
      <th>Agente</th>
      <th>Descrição</th>
      <th>Status de Atend.</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'sac/historic', collection: @client.sac_entries, as: :entry %>
  </tbody>
</table>

