<section class='resources-btns'>
  <%= link_to 'Autorizações de Serviço', service_authorizations_path(@client, anchor: :auth), class: 'button large' %>
</section>

<%= simple_form_for(@contract, :html => {:class => 'form-horizontal authorization-form two-columns', :'data-tab-start' => '3' }) do |form| %>
  <%= render partial: 'shared/form_errors', locals: {resource: @contract } %>

  <section class='form-painel'>
  <div class="span12">
    <%= form.input :payment, as: :text, input_html: { class: 'large' } %>
  </div>
  </section>

  <section class='form-submit'>
  <%= form.button :submit, "Salvar", class: 'button large' %>
  </section>
<% end %>
