<p>
  <%= @document.company_name %>,
  empresa brasileira, estabelecida á
  <%= "#{@document.full_address} - CEP #{@document.postal_code} - #{@document.city} - #{@document.state}" %>
  devidamente inscrita no CNPJ <%= formatted_cnpj(@document.client_document) %>
  , neste ato legalmente representada por
  <%= @document.person_name %>,
  <%= @document.nationality.downcase %>,
  <%= @document.relationship_status_humanize.downcase %>,
  <%= UnicodeUtils.downcase(@document.occupation)  %> e
  portador do CPF <%= formatted_cpf(@document.cpf) %>
</p>
