<div class="proxy-document">
  <h1>PROCURAÇÃO</h1>

  <div class="proxy-document-box">
    <%= render "#{@document.client.document_type}_header" %>
  </div>

  <div class="proxy-document-box">
    <p>
      Pelo presente instrumento de procuração, nomeia e constitui sua bastante
      Procuradora: <%= t('project.company_name')%>,
      empresa brasileira, inscrita sob o CNPJ 14.798.186/0001-80, estabelecida na
      Cidade de São Paulo- SP, à Rua Agostinho Gomes, nº3095, Ipiranga, CEP
      04206-002, neste ato representada por DANILA PAULA BAETA MARTINS, portadora do
      CPF 351.965.158-01 e RG 34.245.937-5, brasileira, casada e empresária,
      com poderes para ISOLADAMENTE, representar a Outorgante junto ao MINISTÉRIO
      DA JUSTIÇA, especialmente frente ás JUNTAS COMERCIAIS ESTADUAIS, e ao
      INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL (INPI), e requerer em nome da
      Outorgante: proteção ao nome comercial, registros de marcas de indústria,
      comércio ou serviços, expressão sinal de propaganda, patente de invenção,
      modelo de utilidade, desenho industrial, garantia de prioridade, anotações,
      cessão de marcas e patentes, caducidades e nulidade, bem como apresentar
      oposições e replicar as por outrem oferecida, recorrer e triplicar, retirar
      certidões e certificados, provar o uso efetivo, desistir, renunciar,
      invocar processos, cumprir exigências e oferecer contestações, pagar taxas,
      relativas aos assuntos da Propriedade Industrial, desde a data do depósito
      e durante a vigência do privilégio de registro, requerendo e apresentando
      em suma, tudo o que for necessário a bem dos direitos da outorgante,
      ratificar e retificar ou  eventualmente já praticados, ou ainda substalecer
      esta em outrem, com ou sem reservas de iguais poderes, dando por tudo por
      bom, firme e valioso.
    </p>
  </div>

  <div class="proxy-document-footer">
    <p>
    <%= "#{@document.city}, #{l(Time.now, format: :local)}" %></strong></td>
    </p>
  </div>

  <div class="proxy-document-signature">
    <p>
      ____________________________________________________________
    </p>
    <span><%= @document.person_name %></span>
  </div>

</div>
