<%= simple_form_for @user, :html => {:class => 'form-horizontal' } do |form| %>
  <section class='form-painel'>
    <div class="span6">
      <%= form.input :login %>
      <%= form.input :name %>
    </div>

    <div class="span6">
      <%= form.input :role, :collection => User::ROLES %>
      <div class="right">

      <%= form.button :submit, "Salvar", class: 'button large' %>
      <%= link_to "Resetar senha", reset_user_path(@user) , confirm: "Deseja resetar a senha do usuário #{@user.name}?", class: 'btn button large' if @user.persisted? %>
      </div>
    </div>
  </section>
<%end%>

<section id='clients'>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Login</th>
        <th>Nível de Acesso</th>
        <th colspan="2">Ações</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'user', collection: @users, as: :user%>
    </tbody>
  </table>
</section>
