<tr>
  <td><%= user.name%></td>
  <td><%= user.login%></td>
  <td><%= user.translate_role%></td>
  <td><%= link_to "Editar", edit_user_path(user), class: "btn" %></td>

  <% if user.access_locked? %>
    <td><%= link_to "Ativar", unlock_user_path(user), class: "btn btn-success"%></td>
  <% else %>
    <td><%= link_to "Desativar", lock_user_path(user), class: "btn btn-danger"%></td>
  <% end %>
</tr>
