<tr>
  <td><%= link_to client.company_name, sac_path(client)%></td>
  <td><%= m client.brands.map(&:name).join(" | ")%></td>
  <td><%= m Client.state_machines[:status].states[client.status].human_name%></td>
  <td><%= m client.sac_entries.last.status_humanize if client.sac_entries.present? %></td>
  <td><%= l client.sac_entries.last.call_back_at if client.sac_entries.present? and  client.sac_entries.last.call_back_at.present? %></td>
  <td><%= link_to '[ X ]', client_path(client), method: :delete, confirm: "Deseja remover o cliente #{client.company_name}" if can? :manage, User %></td>
</tr>
