<%= content_for :documents do %>
  <% if @client.new_record? %>
    <%= render partial: '/sac/need_save_client', locals: {client: @client} %>
  <% else %>

    <% @client.client_files.build %>

    <section class='resources-btns'>
      <%= form_for(@client, :html => {multipart: true, class: :files}) do |f| %>
        <%= f.fields_for :client_files do |file| %>
          <%= file.file_field(:file, multiple: true) if file.object.new_record? %>
        <% end -%>

        <%= f.submit "Enviar Arquivo", :disable_with => 'Enviando...' %>
      <% end %>
    </section>


    <table class='resource-table'>
      <thead>
        <th>Nome</th>
        <th>&nbsp;</th>
      </thead>
      <tbody>
        <%= render(partial: '/sac/tabs/file', collection: @client.client_files.reject{|x| x.new_record? }) || render(partial: '/sac/tabs/no-data', locals: {collspan: 4})%>
      </tbody>
    </table>
  <% end -%>
<% end -%>
