<tr>
  <td><%= link_to file_name(file).truncate(30), file.file.url %></td>
  <td><%= link_to 'Remover', destroy_file_client_path(@client, file), class: :remove, method: :delete, confirm: 'Você tem Certeza que deseja Remover o Arquivo?' if can?(:manager, ClientFile)%></td>
</tr>
