<section class='tabs'>
  <header>
    <h2 class='sprite show-client'>Clientes</h2>
    <%= render partial: 'sac/tabs/links' %>
  </header>

  <article id='info'>       <%= yield :info  %>      </article>
  <article id='documents'>  <%= yield :documents %> </article>
  <article id='process'>    <%= yield :process %>   </article>
  <article id='auth'>       <%= yield :auth %>      </article>
</section>