<table class='resource-table need-save-client'>
  <thead>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <tr>
      <td> Somente Administradores podem acessar esta área. </td>
    </tr>
  </tbody>
</table>