<%= content_for :process do %>
  <% if @client.new_record? %>
    <%= render partial: '/sac/need_save_client', locals: {client: @client} %>
  <% else %>
    <section class='resources-btns client process'>
      <%= link_to 'Novo Processo', new_client_process_path(@client), class: 'button large' %>
    </section>

    <table class='table table-bordered table-striped'>
      <thead>
        <tr>
          <th>Nº do Processo</th>
          <th>Depósito em</th>
          <th>Concessão em</th>
          <th>Vigência até</th>
          <th>Inicio Prazo Ordinário</th>
          <th>Fim Prazo Ordinário</th>
          <th>Inicio Prazo Extraordinário</th>
          <th>Fim Prazo Extraordinário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <%= render(partial: '/sac/tabs/processess_info', collection: @client.client_processes.active) || render(partial: '/sac/tabs/no-data', locals: {collspan: 9})%>
      </tbody>
    </table>
  <% end -%>
<% end -%>
