<tr>
  <td><%= link_to("%05d" % document.number, service_authorization_path(document.client, document), target: "_blank") %></td>
  <td><%= m document.client.company_name%></td>
  <td><%= m(@client.brands.map(&:name).join(" | ")) %></td>
  <td>
    <% if document.contract %>
      <%= link_to "Ver Contrato", contract_path(document.client, document), target: :blank, class: "btn" %>
    <% else %>
      <%= link_to "Gerar Contrato", new_contract_path(document.client, document), class: "btn" %>
    <% end %>
    <%= link_to "Procuração", proxy_document_path(document.client, document), target: :blank, class: "btn" %>

    <%= link_to "Carta de ciência", aware_path(document.client), class: "btn", target: "_blank" %>
  </td>
  <td><%= link_to '[ X ]', remove_service_authorization_path(document.client, document), method: :delete, confirm: "Deseja remover a autorização de serviço #{document.number}" if can? :manage, ServiceDocument %>
</tr>
