<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <section class='form'>
      <h1 class='text' title='Acessar sistema'>Acessar sistema</h1>
      <section class='form-inputs'>
        <%= f.input :login, :required => false, :autofocus => true %>
        <%= f.input :password, :required => false %>
        <%= f.button :submit, "Entrar" %>
      </section>
    </section>

    <section class='message'>
      <h2 class='text' title='Esqueceu sua senha?'>Esqueceu sua senha?</h2>
      <p>Entre em contato com a administração da empresa para adquirir uma nova senha.</p>
    </section>
<%end%>