@import "base";
@import "colors";

#clients table {
  margin-left: 6px;
  margin-right: 6px;
  width: 948px;
  float: left;
}

#new-client {
  @include grid(20);
  padding: 15px 0px;
  background-color: #eef0ea;
  margin-bottom: 30px;
}

#new-client a {
  text-align: center;
  display: block;
}

/*REPLACE FORM*/
#show_logo p,
.new_client label,
.edit_client label,
.show_client p,
.new_sac label{
  font-size: 0.75em;
}

#show_logo {
  margin-left: 0px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #CCC;
}

#show_logo .form-inputs {
  width: 948px;
}

#show_logo .actions {
  position: absolute;
  bottom: -20px;
  background-color: black;
  width: 100%;
  height: 20px;
  text-align: center;
  -webkit-transition: bottom 200ms ease-out;
  -moz-transition: bottom 200ms ease-out;
  transition: bottom 200ms ease-out;
}

#show_logo .actions a {
  position: relative;
  display: block;
  color: white;
  font-size: 0.75em;
  line-height: 20px;
}

#show_logo ul {
  float: left;
  width: 720px;
}

#show_logo ul li {
  position: relative;
  background-color: white;
  float: left;
  margin: 5px;
  height: 150px;
  line-height: 150px;
  overflow: hidden;
}

#show_logo ul li:hover .actions {
  bottom: 0px;
}

#show_logo ul li:nth-child(5n+1) {
  clear: left;
}

.logo_upload {
  position: relative;

  input[type="file"]{
    position: absolute;
    width: 100%;
    height: 95px;
    opacity: 0;
    cursor: pointer;
    left: 0px;
    top: 0px;
    z-index: 10;
  }
}

.show_client {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}

.show_client .form strong {
  font-size: 1em;
}

.new_client select,
.edit_client select {
  font-size: 0.75em;
}

.filters {
  @include grid(20);
  width: 900px;
  background-color: #D2D3D5;
  padding: 24px 0 24px 48px;
  margin-bottom: 20px;
}

.filters .line{
  overflow: hidden;
  clear: left;
}

.filters span {
  display: block;
  float: left;
  width: 84px;
  text-align: right;
  margin-right: 12px;
  margin-top: 9px;
}

.filters select{
  @include grid(4);
  margin-top: 2px;
  margin-right: 12px;
  margin-left: 0px;
  margin-bottom: 12px;
  font-size: 0.75em;
}

.filters input {
  margin-top: -7px;
  width: 128px;
}

.filters .selects{
  @include grid(13);
}

.filters .per-date label,
.filters .per-page label{
  @include grid(4);
  color: #57585A;
  float: left;
  font-size: 16px;
  padding-top: 10px;
  text-align: right;
  margin-left: 0px;
}

.filters .per-date input[type='text'],
.filters .per-page input[type='text']{
  margin-top: 0;
  width: 123px;
  margin-left: 6px;
}

.filters .per-page input[type='text']{
  @include grid(2);
  width: 75px;
}

.filters .button{
  @include grid(4);
  @include grid-push(7);
  @include alpha;
  margin: 10px 0 0 0;
}

.filters.clients{
  padding: 12px 0 12px 48px;
  margin-bottom: 0px;
}

.filters.clients form{
  margin: 0px;
}

.filters.clients .line{
  @include grid(5);
  @include alpha;
  @include grid-push(14);

}

.filters.clients input[type='text']
.filters.clients input[type='submit']{
  @include grid(4);
}

.filters.clients input[type='text']{
  float: left;
  padding-right: 0px;
  margin-right: 4px;
  margin-top: 0px;
  box-shadow: none;
}

.filters.clients input[type='submit']{
  @include grid(2);
  left: 0px;
  margin: 0px;
  padding: 4px 0px;
}

a.more {
  display: block;
  text-align: right;
  font-size: 0.75em;
  margin-bottom:20px;
}

a.less {
  position: absolute;
  top: 6px;
  margin-left: 5px;
}

/*CLEARFIX - problema com float*/
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility: hidden;
}

.clear {clear:left;}
.clearfix {display:inline;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
