@import "base";
@import "colors";

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  margin-bottom: 0px;
  background-color: #f6f6f6;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset-1px 1px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset -1px 1px 0px rgba(0,0,0,0.4);
  box-shadow: inset -1px 1px 0px rgba(0, 0, 0, 0.4);
}

textarea {
  resize: none;
}

textarea.large {
  width: 292px;
  height: 300px;
}

.button {
  font-family: Myriad Pro, Arial, sans-serif;
  font-size: 0.75em;
  color: #808285;
  padding: 7px 20px 3px 20px;;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2f2', endColorstr='#e6e7e8',GradientType=0 );
  background: rgb(167,169,172);
  background: -moz-linear-gradient(
    top,
    #f1f2f2 0%,
    #e6e7e8);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#f1f2f2),
    to(#e6e7e8));
  border: 1px solid #d1d3d4;
}

.button + .button {
  margin-left: 5px;
}

.new_sac .button {
  width: 210px;
}

.form.span12 .input {
  float: left;
}

.form.span12 textarea {
  width: 810px;
}

.form {
  @include grid(8);
}

.form.large {
  @include grid(9);
}

.form.small {
  @include grid(4);
  @include alpha;
}

.form h1 {
  @include grid(8);
  @include grid-push(1);
  @include alpha;
}

.message {
  @include grid(8);
  @include grid-push(2);
}

.form-inputs {
  @include grid(8);
  @include alpha;
  position: relative;
}

.form-inputs.large {
  @include grid(9);
  @include alpha;
}

.form-inputs.small {
  @include grid(5);
  @include alpha;
}

.form-inputs span.error {
  margin-left: 5px;
  color:#cc3333;
  font-size: 13px;
  margin-top: 5px;
  display: block;
  margin-left: 5px;
  text-align: right;
}

.form-inputs .input{
  margin-bottom: 20px;
  float: left;
}

.form-inputs .select {
  overflow: hidden;
  margin-bottom: 10px;
}

.form-inputs.small input[type="text"] {
  width: 74px;
}

.form-inputs.medium input[type="text"],
.form-inputs.medium p {
  width: 132px;
}

.form-inputs label,
.form-inputs p.title {
  @include grid(3);
  @include alpha;
  clear: left;
  text-align: right;
  margin-top: 7px;
}

.form-inputs.small label,
.form-inputs.small p.title {
  @include grid(1);
}

.form-inputs.medium label,
.form-inputs.medium p.title {
  @include grid(2);
}

.form-inputs.large label {
  @include grid(4);
  @include alpha;
}

.form-inputs ul {
  list-style: none;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="tel"] {
  margin-left: 6px;
  width: 218px;
}

.form p {
  display: block;
  float: left;
  margin-top: 7px;
  margin-left: 6px;
  width: 218px;
}

.form.small p {
   width: 74px;
}

.form p strong {
  color: #58595b;
  font-size: 0.75em;
}

.form select {
  @include grid(5);
  @include omega;
}

.form input[type="submit"] {
  float: right;
}

.form label {
  @include grid(3);
  @include alpha;
  text-align: right;
  margin-top: 7px;
}

.form h1, .message h2 {
  font-size: 1.75em;
  margin-bottom: 20px;
  border-bottom: 1px solid $border_green;
  padding-bottom: 3px;
}

.form-painel {
  float: left;
  margin-bottom: 20px;
  border-bottom: 1px solid #BFBFBF;
}

.form-painel.sac {
  margin-bottom: 0px;
  border-bottom: none;
}

.form-painel.sac textarea {
  width: 365px;
}

.form-submit {
  text-align: center;
}

.form-submit.sac {
  padding-bottom: 20px;
  border-bottom: 1px solid #BFBFBF;
}

h1.text, h2.text {
  position:relative;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.6);
}

h1.text:before,
h2.text:before {
  content: attr(title);
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 1px;
  opacity:.12;
}

h1.text:after,
h2.text:after {
  content: attr(title);
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 2px;
  opacity:.12;
}


.form-errors {
  margin-bottom: 30px;
  border-bottom: 1px solid #BFBFBF;
  padding-bottom: 10px;
}

.form-errors h3 {
  color: #333;
  font-weight: normal;
}

.form-errors li {
  color:#da4f49;
  font-size: 0.75em;
}
