.grow {
  width: 190px;
  position: absolute;
  top: 10px;
  right: 10px;
  overflow: hidden;
}

.grow-item {
  position: relative;
  width: 190px;
  padding: 10px;
  margin-bottom: 10px;
  left: 170px;
}

.grow-item.ahead {
  background: #99CC99;
}

.grow-item.intime {
  background: #CCCC64;
}

.grow-item.intime.process_validity {
  background: #3E99D4;
}

.grow-item.delayed {
  background: #F69799;
}

.grow-item.delayed.process_validity {
  background: #A461C1;
}

.grow-item img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30%;
}

.grow-info {
  margin-left: 40px;
}

.grow-info span {
  top: 11%;
}

.grow-info {
  margin-left: 57px;
}

.grow-info span {
  color: black;
  margin-bottom: 5px;
  display: block;
}

.grow-info a {
  color: #000;
}

.grow-info h1 {
  font-size: 11px;
  font-weight: bold;
  line-height: 11px;
  margin-bottom: 4px;
}

.grow-info h4 {
  font-size: 10px;
  color: #333333;
}

.grow-info abbr {
  cursor: text;
  border-bottom: none;
  color: #000;
  font-weight: bold;
}
