.proxy-document {
  margin-top: 60px;
  width: 740px;
  margin: 0 auto;
}

.proxy-document h1 {
  color: #333;
  font-size: 45px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 100px;
  font-weight: bold;
}

.proxy-document p {
  color: #333;
  line-height: 25px;
  margin: 0px;
}

.proxy-document-box {
  padding: 10px;
  border: 1px solid #333;
  margin-bottom: 50px;
}

.proxy-document-box + .proxy-document-box {
  margin-bottom: 100px;
}

.proxy-document-footer {
  float:right;
  margin-bottom: 50px;
}

.proxy-document-signature {
  margin-bottom: 50px;
  float: right;
}

.proxy-document-signature p {
  margin-bottom: 20px;
}

.proxy-document-signature span {
  float: right;
  color: #333;
}


