@import "base";
@import "colors";
@import "compass";

$link-edit-color: #58595b;

.resource-table{
  width: 60%;
  @include grid-push(4);
  text-align: center;
  margin-bottom: 20px;

  thead th{
    font-size: 15px;
    font-weight: normal;
    @include background-image(linear-gradient(#e6e7e8, #f1f2f2));
    padding: 5px 0;
    border: 1px solid $gray-border;
  }
  tbody tr{
    background: #fff;

    &:nth-child(even){
      background: #f6f6f6;
    }
  }

  tbody td{
    padding: 5px;
    border: 1px solid $gray-border;
  }

  a{
    color: $green-dark;
    text-decoration: underline;
    
    &.remove,
    &.edit{
      color: $link-edit-color;
    }
  }

}

.resource-table.need-save-client{
  margin-top: 20px;
}