@import "base";
@import "colors";
@import "compass/css3/text-shadow";

.resource{
  @include grid(20);

  header{
    border-bottom: 1px solid $border_green;
    overflow: hidden;
  }

  h2{
    &.sprite.show-client{
      @include grid(3);
      @include alpha;
      border: none; 
      margin-bottom: 0px;
    }
  }
  .ui-tabs-hide{
    display: none;
  }

  .resource_menu{
    @include alpha;
    @include omega;
  }
}

.resource nav{
  li{
    @include grid(3);

    a{
      padding: 9px 0 8px;
      color: $green;
      font-size: 15px;
      display: block;
      text-align: center;
      color: $green-dark;
      @include text-shadow();
    }

    &.ui-tabs-selected a,
    & a:hover{
      background: $border_green;
      color: #fff;
      @include text-shadow(0px 0px 6px black);
    }
  }
}

.resource .resources-btns{
  background: #e7e8e2;
  padding: 10px 0;
  @include grid(20);
  @include alpha;
  margin-bottom: 20px;

  a{
    display: block;
    @include grid(2);
    @include grid-push(8);
    text-align: center;
    
    &.large{
      @include grid(4);
      @include grid-push(7);
    }
  }
}

.resource .form-painel.sac{
  .column-left{
    @include grid(10);
    @include alpha;
  }
  .column-right{
    @include grid(10);
    @include omega;

    textarea{
      width: 307px;
      height: 100px;
    }
  }
}

.resource .form-submit.sac{
  margin-bottom: 20px;
  float: left;
  width: 100%;

  input[type=submit]{
    @include grid(4);
    @include grid-push(8);
    @include alpha;
  }
}