@import "base";
@import "colors";

form.two-columns{
  margin-top: 20px;

  > article{
    width: 390px;
    float: left;

    &.first{
      margin-right: 168px;
    }
  }

  footer{
    border-bottom: 1px solid #bfbfbf;
    width: 100%;
    text-align: center;
    overflow: hidden;

    input[type='submit']{
      @include grid(4);
      @include grid-push(8);
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
}