<section class='resource'>
  <section class='resources-btns'>
    <%= link_to "Voltar", conflict_path(@entry.file), class: 'button' %>
  </section>
</section>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nº</th>
      <th>Data</th>
      <th>Classe</th>
      <th>Razão Social</th>
      <th>Inpi</th>
      <th>Apresentação</th>
      <th>Natureza</th>
      <th>Marca</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @entry.number %></td>
      <td><%= @entry.date%></td>
      <td><%= @entry.class_name %></td>
      <td><%= @entry.company_name %></td>
      <td><%= @entry.inpi %></td>
      <td><%= @entry.presentation %></td>
      <td><%= @entry.nature %></td>
      <td><%= @entry.brand %></td>
    </tr>
  </tbody>
</table>
