<section class='resource'>
  <section class='resources-btns'>
    <%= link_to "Voltar", conflicts_path, class: 'button' %>
  </section>
</section>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Número</th>
      <th>Cliente</th>
      <th>Razão Social</th>
      <th>Marca</th>
      <th>Colidência</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'conflicts', collection: @conflicts, as: :inpi %>
  </tbody>
</table>
