<section class='resources-btns'>
  <%= link_to 'Lista de Processos', client_processes_path(@client, anchor: :process), class: 'button large' %>
</section>

<%= simple_form_for @process, url: @process.new_record? ? client_process_path(@client) : update_client_process_path(@client, @process), :html => {:class => 'form-horizontal two-columns', 'data-tab-start' => '1'} do |form| %>
  <article class='first'>
    <%= form.input :number %>

    <%= form.input :filing_at, input_html: {value: "#{l(@process.filing_at) if @process.filing_at.present?}", class: 'mootools_date', name: 'fake_filing_at', autocomplete: 'off'} %>
    <%= form.input :filing_at, as: :hidden %>

    <%= form.input :grant_at, input_html: {value: "#{l(@process.grant_at) if @process.grant_at.present?}" , class: 'mootools_date', name: 'fake_grant_at', autocomplete: 'off'} %>
    <%= form.input :grant_at, as: :hidden %>

    <%= form.input :validity_at, input_html: {value: "#{l(@process.validity_at) if @process.validity_at.present?}", class: 'mootools_date', name: 'fake_validity_at', autocomplete: 'off'} %>
    <%= form.input :validity_at, as: :hidden %>
  </article>

  <article>
    <%= form.input :start_ordinary_appeal, disabled: true, input_html: {value: "#{l(@process.start_ordinary_appeal) if @process.start_ordinary_appeal.present?}", class: 'mootools_date', name: 'fake_start_ordinary_appeal', autocomplete: 'off'} %>
    <%= form.input :finish_ordinary_appeal, disabled: true, input_html: {value: "#{l(@process.finish_ordinary_appeal) if @process.finish_ordinary_appeal.present?}", class: 'mootools_date', name: 'fake_finish_ordinary_appeal', autocomplete: 'off'} %>
    <%= form.input :start_extraordinary_appeal, disabled: true, input_html: {value: "#{l(@process.start_extraordinary_appeal) if @process.start_extraordinary_appeal.present?}", class: 'mootools_date', name: 'fake_start_extraordinary_appeal', autocomplete: 'off'} %>
    <%= form.input :finish_extraordinary_appeal, disabled: true, input_html: {value: "#{l(@process.finish_extraordinary_appeal) if @process.finish_extraordinary_appeal.present?}", class: 'mootools_date', name: 'fake_finsih_extraordinary_appeal', autocomplete: 'off'}%>
  </article>

  <footer>
    <%= form.button :submit, "Salvar", class: 'button large' %>
  </footer>
<% end -%>
