<section id='clients'>
  <%= render partial: 'pagination', locals: { object: @clients }%>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Razão Social</th>
        <th>Marca</th>
        <th>Documento</th>
        <th>Nº de Processos</th>
        <th>Anuidade</th>
        <th>Status Atend.</th>
        <th>Último Atend. em</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'list_client', collection: @clients, as: :client%>
      <tr>
        <td class='subtotal' colspan="4">Total de processos (por página)</td>
        <td class='subtotal'><%= process_subtotal(@clients) %></td>
        <td class='subtotal'></td>
        <td class='subtotal'></td>
        <td class='subtotal'></td>
      </tr>
    </tbody>
  </table>
</section>
